@import '~bootstrap/scss/bootstrap';

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  width: 510px;
  border-radius: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #3a4042;
  color: #a3aaad;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: solid;
  border-width: thin;
  outline: none;
  transition: background-color 0.6s ease;
  margin: 5px 0px 5px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #586063;
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
  transition: max-height 0.6s ease;
  border-radius: 5px;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 18px;
  padding: 18px;
}

.workOutTitle {
  color: #3a4042;
  width: 510px;
  border-style: ridge;
  border-width: 5px;
  background-color: #a3aaad;
  border-color: #3a4042;
  margin: 20px 0px 0px 0px;
  border-radius: 5px;
}

.Mage {
  border-style: solid;
  border-width: 5px;
  border-color: #28007D;
  border-radius: 5px;
  background-color: #B18CFF;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
  width: 510px;
  color: #28007D;
}

.Mage a {
  color: #28007D;
}

.Warrior {
  border-style: solid;
  border-width: 5px;
  border-color: #950000;
  border-radius: 5px;
  background-color: #F8A3A3;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
  width: 510px;
  color: #950000;
}

.Warrior a {
  color: #950000;
}

.Knight {
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  border-radius: 5px;
  background-color: #A1A8B5;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
  width: 510px;
  color: #000000;
}

.Knight a {
  color: #000000;
}

.Priest {
  border-style: solid;
  border-width: 5px;
  border-color: #8C8C00;
  border-radius: 5px;
  background-color: #F5F58E;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
  width: 510px;
  color: #8C8C00;
}

.Priest a {
  color: #8C8C00;
}

.Archer {
  border-style: solid;
  border-width: 5px;
  border-color: #1B5F00;
  border-radius: 5px;
  background-color: #B6E9A2;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 10px;
  width: 510px;
  color: #1B5F00;
}

.Archer a {
  color: #1B5F00;
}

.workOuts {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  border-radius: 5px;
  background-color: #edf8ff;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  width: 400px;
  border-radius: 5px;
}

.character {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  border-radius: 5px;
  background-color: #cfecff;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 5px 0px 10px 10px;
  width: 400px;
}

form {
  border-left-style: solid;
  border-width: 5px;
  border-color: blue;
  border-radius: 5px;
  background-color: #cfecff;
  font-size: 20px;
  font-family: 'Kalam', cursive;
  margin: 20px 0px 20px 0px;
  padding: 5px 0px 10px 10px;
  width: 600px;
}

h4 {
  text-decoration: underline;
}

body {
  height: 1000px;
  font-family: 'Kalam', cursive;
  background-image: url(https://i.imgur.com/cspJGh0.jpg);
}

.home {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Kalam', cursive;
  text-align: center;
  border-radius: 8px;
}

.long-logo {
  height: 25%;
  width: 30%;
}

.navbutton {
  font-size: 100%;
  margin-right: 20px;
  white-space: nowrap;
}

.welcomeMessage {
  white-space: nowrap;
  margin-right: 30px;
  font-size: 125%;
}

.authForms {
  border-style: ridge;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #D1D1D1;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 20px 0px 20px 0px;
  padding: 5px 0px 10px 10px;
  width: 600px;
}

.smaller-input {
  width: 90%;
  margin-left: 4%;
}

.authButton {
  margin-left: 4%;
}

.characterCreateInput {
  margin-left: 4%
}

.emphasize {
  font-size: 50px;
}

input, label, button {
  font-family: 'Kalam', cursive;
}

#workOut {
  margin-left: 3%;
  margin-top: 3%;
}


.fade-in {
animation: fadeIn ease 5s;
-webkit-animation: fadeIn ease 5s;
-moz-animation: fadeIn ease 5s;
-o-animation: fadeIn ease 5s;
-ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
